---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const hyphenDate = function(d: Date): String {
    return d.toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).split("/").join("-")
};
---

<Main
    title={entry.data.title} caption={entry.data.caption ?? undefined}
    created={entry.data.create} updated={entry.data.update ?? undefined}
>
    <div class="matter">
        <Content />
    </div>
</Main>
