---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const hyphenDate = function(d: Date): String {
    return d.toLocaleDateString("ja-JP", {year: "numeric", month: "2-digit", day: "2-digit"}).split("/").join("-")
};
---

<Main title={entry.data.title}>
    <p class="text-xs text-zinc-400 text-right">
        {
            (entry.data.update == null) ? hyphenDate(entry.data.create) :
            `Created: ${hyphenDate(entry.data.create)}` +
            String.fromCodePoint(8195) +
            `Updated: ${hyphenDate(entry.data.update)}`
        }
    </p>
    <article>
        <Content />
    </article>
</Main>
