---
import Main from "@/layouts/Main.astro";
---

<Main title="Blog">
    Blog lists TBD.<br />
    Random words for testing: <a href="/blog/lorem" class="anchor underline">Lorem Ipsum</a>
</Main>