@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI",
            Roboto, "BIZ UDPGothic", "Hiragino Sans", sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Sans Emoji";
        font-size: 16px;
        @apply text-zinc-700 dark:text-zinc-300 scroll-smooth;
    }

    body {
        @apply dark:bg-zinc-900
    }

    code {
        font-family:
            Menlo,
            Monaco,
            Consolas,
            Lucida Console,
            Liberation Mono,
            DejaVu Sans Mono,
            Bitstream Vera Sans Mono,
            Courier New,
            monospace;
    }

    main {
        .matter {
            @apply max-w-none prose dark:prose-invert prose-hyphae prose-a:anchor prose-pre:text-wrap
            prose-headings:leading-none prose-li:leading-none prose-h2:text-2xl prose-h2:mt-6 prose-h2:mb-4
        }
    }

    p {
        @apply my-3;
    }
}

@layer components {
    .color-a a, .anchor {
        @apply text-link dark:text-link-dark
        hover:text-link-hover dark:hover:text-link-dark-hover
        active:text-link-active
        visited:text-link-visited dark:visited:text-link-dark-visited
    }
    astro-breadcrumbs {
        a {
            @apply text-emerald-700 hover:text-emerald-500 active:text-lime-500 visited:text-zinc-600
            dark:text-emerald-300 dark:hover:text-emerald-200 dark:active:text-green-400 dark:visited:text-zinc-400
        }
    }
}