@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", "Segoe UI",
        Roboto, "BIZ UDPGothic", "Hiragino Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
    font-size: 16px;
    scroll-behavior: smooth;
}

code {
    font-family:
        Menlo,
        Monaco,
        Consolas,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1.1rem;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

@mixin def-a {
    text-decoration: underline;
    color: mediumblue;
    &:hover {
        color: royalblue;
    }
    &:active {
        color: mediumseagreen;
    }
    &:visited {
        color: darkorchid;
    }
}

main {
    ul, ol {
        list-style-position: outside;
        padding-inline-start: 2rem;
    }

    ul {
        list-style-image: url('/mycelithyl-hyphae//bullet-point.svg');
    }

    ol {
        list-style-type: decimal;
    }

    a {
        @include def-a();
    }
}

footer a {
    @include def-a();
}

p {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}