---
import Main from '@/layouts/Main.astro';
---

<Main title="Welcome, cell(s).">
    <p>
        This website is still in progress.<br />
        Looking forward to seeing you again once it's done!<br />
        Until then, hang on tight and keep it cool.
    </p>
    Random words for testing: <a href="blog/lorem">Lorem Ipsum</a>
</Main>
