---
import Main from '@/layouts/Main.astro';
---

<Main title="Links">
    <div class="matter">
        <p>Until this site is ready, here's some other websites I'm on so you can contact me.</p>
        <ul>
            <li>Timelines</li>
            <ul>
                <li><a href="https://bsky.app/profile/mycelithyl.bsky.social">bsky.social</a></li>
                <li><a href="https://misskey.io/@mycelithyl">Misskey.io</a></li>
                <li><a href="https://twitter.com/mycelithyl">Twitter (&#x1D54F;)</a></li>
            </ul>
            <li>Messages</li>
            <ul>
                <li>Discord: mycelithyl</li>
                <li>Email: <code>["arxein7", "@", "gmail.com"].join()</code></li>
            </ul>
            <li>Blogs</li>
            <ul>
                <li><a href="https://note.com/mycelithyl">note.com</a></li>
                <li><a href="https://mycelithyl.hateblo.jp/">mycelithyl-conidia</a> on <a href="https://hatena.blog/">Hatena Blog</a></li>
            </ul>
        </ul>
    </div>
</Main>
