---
import Main from '@/layouts/Main.astro';
---

<Main title="Links">
    <div class="art">
        <p>Until this site is ready, here's some other websites I'm on so you can contact me.</p>
        <ul>
            <li><a href="https://misskey.io/@mycelithyl">Misskey.io</a></li>
            <li><a href="https://bsky.app/profile/mycelithyl.bsky.social">bsky.social</a></li>
            <li><a href="https://twitter.com/mycelithyl">Twitter (&#120143;)</a></li>
            <li><a href="https://note.com/mycelithyl">note.com</a></li>
            <li><a href="https://mycelithyl.hateblo.jp/">mycelithyl-conidia</a> on <a href="https://hatena.blog/">Hatena Blog</a></li>
            <li>Some others that I was too lazy to write for now</li>
        </ul>
    </div>
</Main>
