---
import Main from '@/layouts/Main.astro';
import CardHex from '@/components/CardHex.astro';

import { Image } from 'astro:assets';
import ComphNotesBanner from '@/assets/comphnotes-banner.png';
import GohyaBanner from '@/assets/500mL-banner.gif';
---

<Main url={Astro.url} title="Links" updated={new Date("2025-12-13")}>
    <hgroup class="matter">
        <h2>Mycelithyl Links</h2>
        <p>
            各種リンク。コンタクトを取ったり、近況を把握したりすることができます。<br />
            他にもあったかもしれないけど集めるのが面倒なので網羅的ではないです。随時更新。<br />
            Some websites for you to contact me or to know what I'm up to.<br />
            There might be more but I'm too lazy to make it exhaustive. Updated as needed.
        </p>
    </hgroup>
    <ul class="link-list space-y-1">
        <CardHex height={16}>
            <a class="text-[#1185FE]" href="https://bsky.app/profile/mycelithyl.bsky.social">
                <div class="logo flex items-center">
                    <svg class="w-full" viewBox="0 0 600 530">
                        <path d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z" />
                    </svg>
                </div>
                <div>@mycelithyl.bsky.social</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a class="text-[#99cb3e]" href="https://misskey.io/@mycelithyl">
                <div class="logo">
                    <!-- Misskey logo is licensed under CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/) -->
                    <svg viewBox='0 0 135.47 135.47'>
                        <g transform='translate(-38.1 -100.7)'>
                            <path d='m54.63 120.96c-1.9779 0-3.8618 0.32979-5.6513 0.98909-3.2023 1.1302-5.8396 3.1553-7.9117 6.0751-1.9779 2.8256-2.9667 5.9807-2.9667 9.4656v61.88c0 4.5209 1.601 8.4294 4.8033 11.726 3.2965 3.2023 7.2055 4.8038 11.726 4.8038 4.6151 0 8.5236-1.6015 11.726-4.8038 3.2965-3.2965 4.9449-7.205 4.9449-11.726v-11.253c0.03556-2.4371 2.546-1.7977 3.8148 0 2.3763 4.1153 7.4142 7.6497 13.28 7.6295 5.8656-0.0202 10.737-2.9202 13.28-7.6295 0.96304-1.1358 3.6774-3.071 3.9558 0v11.253c0 4.5209 1.601 8.4294 4.8033 11.726 3.2965 3.2023 7.2055 4.8038 11.726 4.8038 4.6151 0 8.5236-1.6015 11.726-4.8038 3.2965-3.2965 4.9449-7.205 4.9449-11.726v-61.88c0-3.4849-1.0357-6.64-3.1078-9.4656-1.9779-2.9198-4.5683-4.9448-7.7706-6.0751-1.8837-0.6593-3.7676-0.98909-5.6513-0.98909-5.086 0-9.3712 1.9782-12.856 5.934l-16.775 19.632c-0.37674 0.28256-1.6248 2.4428-4.2757 2.4428-2.6509 0-3.7574-2.1602-4.1341-2.4428l-16.916-19.632c-3.3907-3.9558-7.6289-5.934-12.715-5.934zm104.53 0c-3.9558 0-7.3464 1.4129-10.172 4.2385-2.7314 2.7314-4.0969 6.0751-4.0969 10.031 0 3.9558 1.3655 7.3464 4.0969 10.172 2.8256 2.7314 6.2162 4.0974 10.172 4.0974 3.9558 0 7.3464-1.366 10.172-4.0974 2.8256-2.8256 4.2385-6.2162 4.2385-10.172 0-3.9558-1.4129-7.2995-4.2385-10.031-2.8256-2.8256-6.2162-4.2385-10.172-4.2385zm0.14107 31.364c-3.9558 0-7.3464 1.4129-10.172 4.2385s-4.238 6.2162-4.238 10.172v34.896c0 3.9558 1.4124 7.3464 4.238 10.172 2.8256 2.7314 6.2162 4.0974 10.172 4.0974s7.2995-1.366 10.031-4.0974c2.8256-2.8256 4.2385-6.2162 4.2385-10.172v-34.896c0-3.9558-1.4129-7.3464-4.2385-10.172-2.7314-2.8256-6.0751-4.2385-10.031-4.2385z' />
                        </g>
                    </svg>
                </div>
                <div>@mycelithyl@misskey.io</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a class="group" href="https://twitter.com/mycelithyl">
                <div id="x-twitter" class="logo overflow-hidden">
                    <svg class="h-full" viewBox="0 0 1200 1227">
                        <path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"/>
                    </svg>                            
                    <svg viewBox="0 0 24 24">
                        <path
                            d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"
                            style="fill:#1D9BF0;"
                        />
                    </svg>
                </div>
                <div>@mycelithyl</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a class="text-[#5865f2] dark:text-fore-dark">
                <div class="logo flex items-center">
                    <svg class="w-full" viewBox="0 0 127.14 96.36">
                        <path d="M107.7,8.07A105.15,105.15,0,0,0,81.47,0a72.06,72.06,0,0,0-3.36,6.83A97.68,97.68,0,0,0,49,6.83,72.37,72.37,0,0,0,45.64,0,105.89,105.89,0,0,0,19.39,8.09C2.79,32.65-1.71,56.6.54,80.21h0A105.73,105.73,0,0,0,32.71,96.36,77.7,77.7,0,0,0,39.6,85.25a68.42,68.42,0,0,1-10.85-5.18c.91-.66,1.8-1.34,2.66-2a75.57,75.57,0,0,0,64.32,0c.87.71,1.76,1.39,2.66,2a68.68,68.68,0,0,1-10.87,5.19,77,77,0,0,0,6.89,11.1A105.25,105.25,0,0,0,126.6,80.22h0C129.24,52.84,122.09,29.11,107.7,8.07ZM42.45,65.69C36.18,65.69,31,60,31,53s5-12.74,11.43-12.74S54,46,53.89,53,48.84,65.69,42.45,65.69Zm42.24,0C78.41,65.69,73.25,60,73.25,53s5-12.74,11.44-12.74S96.23,46,96.12,53,91.08,65.69,84.69,65.69Z" />
                    </svg>
                </div>
                <div>mycelithyl</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a href="https://mycelithyl.hateblo.jp/">
                <div class="logo">
                    <svg viewBox="0 0 300 300">
                        <path d="M149.999 248.909c-54.537 0-98.906-44.367-98.906-98.909 0-54.537 44.369-98.909 98.906-98.909 54.545 0 98.908 44.372 98.908 98.909 0 54.542-44.363 98.909-98.908 98.909zm0-185.238c-47.601 0-86.33 38.723-86.33 86.329 0 47.605 38.729 86.332 86.33 86.332 47.61 0 86.338-38.727 86.338-86.332 0-47.606-38.728-86.329-86.338-86.329zM161.52 101.16c-4.832-9.785-7.783-19.3-9.273-24.845v70.055c2.447.917 4.197 3.257 4.197 6.021 0 3.559-2.887 6.442-6.443 6.442-3.56 0-6.443-2.885-6.443-6.442 0-2.896 1.925-5.317 4.558-6.131v-70.019c-1.485 5.531-4.438 15.092-9.293 24.919-7.571 15.314-17.009 28.823-17.009 28.823l6.036 82.598s5.736 6.401 22.31 6.41h.023c16.573-.009 22.312-6.41 22.312-6.41l6.035-82.598c-.003 0-9.441-13.508-17.01-28.823z"/>
                    </svg>
                </div>
                <div>mycelithyl-conidia</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a href="https://note.com/mycelithyl">
                <div class="logo">
                    <svg viewBox="0 0 493 493">
                        <path d="m139.57,142.06c41.19,0,97.6-2.09,138.1-1.04,54.34,1.39,74.76,25.06,75.45,83.53.69,33.06,0,127.73,0,127.73h-58.79c0-82.83.35-96.5,0-122.6-.69-22.97-7.25-33.92-24.9-36.01-18.69-2.09-71.07-.35-71.07-.35v158.96h-58.79v-210.22Z" />
                    </svg>
                </div>
                <div>mycelithyl</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a>
                <div class="text-sm sm:text-lg">Email:</div>
                <div class="text-xs sm:text-lg"><code>["arxein7", "@", "gmail.com"].join()</code></div>
            </a>
        </CardHex>
    </ul>
    <hgroup class="matter">
        <h2>Mutual Links & Involvements</h2>
        <p>
            相互リンク他。知人の個人サイト等と互いのリンクを交換する古き良きインターネット文化。<br />
            Mutual links et cetera. Good culture of Ye Olde days of Internet, exchanging links between friends' personal websites.
        </p>
    </hgroup>
    <ul class="link-list space-y-1">
        <CardHex height={16}>
            <a href="https://comphand.pages.dev/">
                <Image src={ComphNotesBanner} alt="Comph-Notes Banner" class="banner" />
                <div>- 外付け煮干</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a href="https://500ml.moe/">
                <Image src={GohyaBanner} alt="500mLのホームページ バナー" class="banner" />
                <div>- 500mL</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a href="https://charlotteace.github.io/">
                <iframe src="https://charlotteace.github.io/parts/banner/" class="banner" />
                <div>- 国際単位系</div>
            </a>
        </CardHex>
        <CardHex height={16}>
            <a href="https://gradierwerk.github.io">
                <Image src="https://gradierwerk.github.io/banner.png" alt="Gradierwerk" class="banner" width={200} height={40} />
                <div>- enden</div>
            </a>
        </CardHex>
    </ul>
</Main>
<style>
ul.link-list{
    @reference "tailwindcss";
    a{
        @apply flex m-0 text-base sm:text-xl text-wrap w-full h-full 
            flex-wrap gap-x-2 gap-y-0 items-center justify-center font-medium;
    }
    .logo {
        @apply h-6 w-6 sm:h-10 sm:w-10;
        svg path {
            @apply fill-current
        }
    }
    .banner {
        @apply w-auto max-h-6 sm:max-h-10;
    }
    #x-twitter svg {
        @apply transition-transform group-hover:-translate-y-full
            motion-reduce:transition-none motion-reduce:group-hover:translate-0
    }
}
</style>